body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 300px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
}

#chat {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column; /* 设置为列布局 */
}

#chat-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

#message-container {
    display: flex;
    flex: 1;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    max-height: 60%;
    flex-direction: column-reverse;
}

#message-container::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

#message-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px; /* 圆滑轨道的角 */
}

#message-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; /* 圆滑滑块的角 */
}

#message-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#chat-line {
    height: 2px; /* 设置水平线的高度 */
    background-color: #ddd; /* 设置水平线的颜色 */
    cursor: ns-resize; /* 设置光标样式为垂直拉伸 */
    border: none; /* 移除水平线的边框 */
    margin: 10px 0; /* 添加一些上下间距，使得拖动起来更容易 */
}

#message-input {
    flex: 1;
    border-radius: 5px;
    margin-right: 10px;
    border: none; /* 去掉默认边框 */
    outline: none; /* 去掉聚焦时的边框 */
    vertical-align: top; /* 文字从最顶部开始显示 */
    resize: none; /* 禁止调整大小 */
    font-family: "Microsoft YaHei", sans-serif; /* 使用微软雅黑字体 */
    font-size: 16px;
    height: 230px;
    width: 98%;
}

#send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 45px;
}

#user-info {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

#current-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#online-friends {
    font-size: 14px;
}

#friend-list-container {
    height: calc(100vh - 190px); /* Adjust this value based on your design */
    overflow-y: auto;
}

#friend-list-ul {
    padding: 0;
    margin: 0;
}

.friend-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.friend-item:hover {
    background-color: #f0f0f0;
}

.friend-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info,
.friend-info {
    flex: 1;
    display: flex;
    align-items: center;
}

.friend-name {
    margin-right: 10px;
}

.friend-status {
    font-size: 14px;
}

#left-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

#search-button {
    display: block;
    height: 45px;
    width: 100px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#apply-button {
    display: block;
    height: 45px;
    width: 100px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#message-icon {
    display: block;
    height: 30px;
    cursor: pointer;
}

/* 查找用户 */

#message-overlay,
#apply-overlay,
#search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#message-dialog,
#apply-dialog,
#search-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 35%; /* Adjust width as needed */
    padding: 20px;
    border-radius: 10px;
    z-index: 10000; /* Ensure the dialog is on top */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 500px; /* Adjust height as needed */
}

#message-dialog-header,
#apply-dialog-header,
#search-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#message-dialog-title,
#apply-dialog-title,
#search-dialog-title {
    font-size: 20px;
    font-weight: bold;
}

#search-dialog-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-input {
    display: block;
    width: calc(100% - 250px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#message-dialog-close,
#apply-dialog-close,
#search-dialog-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
}

#message-dialog-close:hover,
#apply-dialog-close:hover,
#search-dialog-close:hover {
    color: red;
}

#searchInFriends-dialog-button,
#searchInUsers-dialog-button {
    display: block;
    padding: 8px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#applyInfo-list-container {
    height: 90%;
}

.applyInfo-list-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#apply-message-send,
#apply-message-receive {
    height: 50%;
}

#apply-message-send-div,
#apply-message-receive-div {
    height: 82%;
    overflow-y: auto;
}

#apply-message-send-div::-webkit-scrollbar,
#apply-message-receive-div::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

#apply-message-send-div::-webkit-scrollbar-track,
#apply-message-receive-div::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px; /* 圆滑轨道的角 */
}

#apply-message-send-div::-webkit-scrollbar-thumb,
#apply-message-receive-div::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; /* 圆滑滑块的角 */
}

#apply-message-send-div::-webkit-scrollbar-thumb:hover,
#apply-message-receive-div::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.name-div {
    margin-left: 10px;
    width: 240px;
    font-size: 20px;
    font-weight: bold;
}

.time-div {
    width: 120px;
    font-size: 15px;
}

.status-div {
    margin-left: 60px;
    font-size: 15px;
    width: 60px;
    text-align: center;
}

.apply-message-receive-item,
.apply-message-send-item {
    width: 95%;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apply-message-receive-item-first,
.apply-message-send-item-first {
    width: 80%;
    display: flex;
    align-items: center;
}

.button-div {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dispose-button {
    width: 35%;
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.revoke-button {
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.dispose-button:hover,
.revoke-button:hover {
    background-color: #0056b3;
}

.apply-message h4 {
    margin: 5px;
}

#backImage {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

#chat-with-user {
    font-size: 20px;
}

#searchUser-list-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#searchUser-list-li {
    padding: 10px;
}

.searchUser-item {
    width: 95%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.user-avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    display: block;
    margin-right: 10px;
}

.user-status {
    margin-right: 50px;
    display: block;
    font-size: 14px;
}

.add-friend-button {
    display: block;
    padding: 8px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-friend-button:hover {
    background-color: #0056b3;
    color: white;
}

#searchUser-list-container {
    height: 75%;
    overflow-y: auto;
}

#searchUser-list-container::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

#searchUser-list-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px; /* 圆滑轨道的角 */
}

#searchUser-list-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; /* 圆滑滑块的角 */
}

#searchUser-list-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#message-popup {
    height: 25px;
    padding: 10px;
    position: fixed;
    display: none;
    align-items: center;
    left: 50%;
    top: 6%;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.9); /* 半透明白色背景 */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 1s; /* 淡入和淡出动画 */
    transform: translateX(-50%);
    z-index: 10001;
}

@keyframes fadeInOut {
    from { opacity: 0; top: -50px; } /* 初始状态 */
    to { opacity: 1; top: 6%; } /* 淡入过程 */
}

#message-popup-icon {
    height: 15px;
    margin-right: 10px;
}

.data-empty {
    margin: 10px;
    font-size: 20px;
}

.send {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    flex-direction: column;
}

.chat-message-sender {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    align-items: center;
    flex-direction: row-reverse;
}

.receive {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    flex-direction: column;
}

.chat-message-receiver {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    align-items: center;
}

#chat-message-list-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-avatar {
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.chat-message-div-send {
    background-color: #DCF8C6;
    border-radius: 5px;
    padding: 10px;
}

.chat-message-div-receive {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

.chat-time-div-send {
    margin-right: 70px;
    font-size: 12px;
}

.chat-time-div-receive {
    margin-left: 70px;
    font-size: 12px;
}
