body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    max-width: 400px; /* 调整表单宽度为600px */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px; /* 增加表单内边距 */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 20px; /* 调整输入框组之间的间距 */
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    user-select: none;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.tooltip {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: red;
    display: none;
    width: calc(100% - 20px); /* 提示框宽度与输入框一致，减去内边距 */
    padding: 5px 10px 2px;
    border: 0;
    border-radius: 4px;
    font-size: 0.8em;

}

.switch-form {
    text-align: center;
    margin-top: 20px;
}

a:link,
a:visited {
    text-decoration: none; /* 移除链接下划线 */
    color: #007bff; /* 设置链接颜色 */
}
